<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleSearchUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>
    <add key="GoogleSearchKey" value="AIzaSyByU-m43LYRwjRVmWGfdLDhkX4bN7vUozk"/>
    <add key="GoogleSearchEngine" value="ba43bf438ebbdf107"/>

    <add key="BingSearchApiUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={0}"/>
    <add key="BingSearchApiKey" value="f2254a1350a84cd0a92fbb3815c5e90f"/>
    <add key="BingSearchApiKeyHeaderName" value="Ocp-Apim-Subscription-Key"/>
  </appSettings>
</configuration>